
<h1>You just ordered</h1>
<table class="CheckoutTable">
  <%
     @orderitems = Orderitem.all

  %>
  <thead>
  <tr>
    <th>Item</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.item_id %></td>
        <td><%= orderitem.title %></td>
        <td><%= orderitem.quantity %></td>
        <td><%= orderitem.price %></td>
      </tr>
  <% end %>
  </tbody>
</table>

