<div id="AboutUs">
		<p>
			<h2>About The Company</h2>
				<p><span>
				DainTea Couture was founded in Dublin in 2013 by an Irish mammy passionate about tea and the finer things in life.
				There's just nothing quite like a cup of tea from a pretty china cup! After years and years of collecting antique, vintage and pre-loved tea sets and crockery she ran out of storage space at home for all of these wonderful finds! 
				</span></p>
				
				<p><span>
				Then came a bright idea - she decided to set up a stand at local farmers markets and attend craft fairs. This enabled her to showcase & sell her beautiful collection and since stock was selling well, she could also keep up her hobby - buying more tea sets in antique & charity shops! 
				
				Finally, in Winter 2013 the company website was commisioned to be built.
				</span></p>
		</p>
		
	</div>
