<div id="Contactform">
<form>
	<h2>Contact Us Form</h2>
	<p>
	<ul>
		<li>Name<br>
		<input name="name" type="text" size="25"><br></li>
		
		<li>Email address<br>
		<input name="email" type="email"><br></li>
		
		<li>Phone number (optional)<br>
		<input name="phone number" type="tel"><br><li>
	</ul>
		
		Your Message<br>
		<textarea name="message" rows="10" cols="50" placeholder="200 words or less"></textarea><br>
	</p>
	<p>
				<input type="submit">
				<input type="reset" value="Start over">
	</p>
</form>
</div>
